:root {
  --title-color: #212121;
  --second-color: #757575;
  --background-color-main: #f5f5f5;
  --background-color-second: #2f303a;
  --margin-nav: 50px;
  --margin-card: 30px;
  --social-link: 44px;
  --hover-color: #2196F3;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  padding: 0;
}

address {
  font-style: inherit;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  border: none;
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.body {
  font-family: "Roboto", sans-serif;

  color: var(--second-color);
}

button {
  border: none;
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Навігація хедер */

.header {
  display: flex;
  justify-content: center;
  height: 80px;
}

.header__conteiner {
  display: flex;
  align-items: center;
  
}

.header__nav,
.nav__list {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__nav .conteiner {
  display: flex;
  margin-left: var(--margin-nav);
}

.nav__list .list__item + .list__item {
   margin-left: var(--margin-nav);
 }

.header__link + .header__link {
  margin-left: var(--margin-nav);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;

  color: var(--hover-color);
}

.header__logo {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 93px;
}

.logo__studio {
  color: #000000;
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;

  display: block;
}

.address {
  display: flex;
  margin-left: auto;
  padding-left: 50px;
  /* min-width: 360px; */
}

.address .list__item + .list__item {
  margin-left: var(--margin-nav);
}

.address__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: inherit;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  min-width: 142px;
}

.address .list__item{
  display: flex;
  align-items: center;
}
.address__link,
.nav__link,
.current-link,
.client__link,
.hero__button,
.social__link,
.filter__button,
.project__item{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.nav__link:hover,
.address__link:focus,
.nav__link:focus,
.nav__link:active,
.current-link,
.client__link:hover,
.client__link:focus,
.client__link:active{
  color: var(--hover-color);
}

.current-link{
  position: relative;
}
.current-link::after{
  content: '';

  position: absolute;
  left: 0;
  bottom: 0;
  
  width: 100%;
  height: 4px;

  background: var(--hover-color);
  border-radius: 2px;
}

.icon{
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */

.hero {
  background-color: #C4C4C4;
  background-image: linear-gradient(#2F303A66, #2F303A66), 
  url(../images/hero-img.jpg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 30px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;

  display: block;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
  min-width: 216px;
  text-align: center;
  padding: 10px 32px;
}

.hero__button:active,
.hero__button:focus,
.hero__button:hover,
.footer-form__button:focus,
.footer-form__button:hover,
.form__button:focus,
.form__button:hover{
  background-color: #188ce8;
  cursor: pointer;
}


/* Переваги */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.benefits {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}

.benefits__list .list__item + .list__item {
  margin-left: 30px;
}

.benefit__thumb{
  margin-bottom: 30px;
  padding: 25px 100px;  
  background-color: #F5F4FA;
  border-radius: 4px;
}

.benefits__titles {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-bottom: 10px;
}

.benefits__descr {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* Чим ми займаємось */

.work {
  padding-top: 0;
}

.work__list {
  display: flex;
}

.work__list .list__item + .list__item {
  margin-left: var(--margin-card);
}

.work__list .list__item{
  position: relative;
}

.work__desk{
  width: 100%;
  min-height: 70px;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding: 27px;
   

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

/* Команда */

.team {
  background: #f5f4fa;
}
.client__title,
.work__title,
.team__title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-bottom: 50px;
}

.team__list {
  display: flex;
}

.team__list .list__item + .list__item {
  margin-left: var(--margin-card);
}

.team__list .list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  min-height: 368px;
  padding-bottom: 30px;
  width: 270px;
}

.list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-top: var(--margin-card);
}

.list__job {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.social-link__list{
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
}

.social__link {
  display: flex;
  margin-right: 10px;
  width: var(--social-link);
  height: var(--social-link);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
}


.social__link:hover,
.social__link:focus{
  background-color: var(--hover-color);
  color: #FFFFFF;
}

.social-link__list .list__item:last-child{
  margin-right: -10px;
}

.social__icon {
  fill: currentColor;
}

/* Клієнти */

.client__item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.client__list{
  display: flex;
  justify-content: center;
  align-items: center;
}


.client__list .client__item +.client__item{
  margin-left: var(--margin-card);
}

.client__link{
  color: #AFB1B8;
  min-width: 170px;
  min-height: 92px;
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center; 
}



.client__icon{
  fill: currentColor;
}


/* Футер */


.footer {
  background: #2f303a;
  color: #ffffff;
  padding-bottom: 60px;
  padding-top: 60px;
  min-height: 252px;
}

.footer__logo {
  color: #ffffff;
}

.footer .address {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: #ffffff;
  margin-top: 20px;
  padding-left: 0;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  padding: 0;
}

.footer__list .list__item + .list__item {
  margin-top: 9px;
  margin-left: 0;
}

.social-link__item{
  width: var(--social-link);
  height: var(--social-link);
}

.footer__social-list{
  display: flex;
}

.footer__conteiner{
  display: flex;
}

.footer__conteiner .footer__bloc + .footer__bloc{
  margin-left: 70px;
}

.footer__social-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: #FFFFFF;
}

.footer__list .social__item:last-child {
  margin-right: -10px;
} 

.social__link{
  background: rgba(255, 255, 255, 0.1);
}

.footer-form{
  margin-left: 93px;
}

.footer-form__title,
.footer__social-title{
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-form__subscr{
  min-width: 360px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}

.footer-form__subscr:focus{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20/16);
  letter-spacing: 0.03em;
}

.footer-form__button{
  width: 200px;
  height: 50px;
  margin-top: 36px;
  padding: 10px 28px;

  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer-form__text{
  margin-right: 10px;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: rotate(-180deg);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 14px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23/20);
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba(0, 0, 0, .3);
  width: 30px;
  height: 30px;
  padding: 7px;
}

.modal__icon:hover {
  fill: #2196F3;
}


/* Form */


.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;

  color: #757575;
}

.form__conteiner {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  min-height: 40px;
  width: 100%;
  padding-left: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14/12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
  resize: none;
}

.form__input:focus {
  color: #000000;
}

.form__input:hover+.form__icon,
.form__input:focus+.form__icon {
  fill: var(--hover-color);
}

.form__input:hover,
.form__input:focus {
  border-color: var(--hover-color);
  outline-style: none;
}

.textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
}

.checkbox {
  display: flex;
  margin: auto;
  margin-bottom: 30px;

}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__icon {
  display: inline-block;
  border: 2px solid #212121;
  border-radius: 2px;
  width: 15px;
  height: 15px;
  margin-right: 7px;

}

.checkbox__input:checked+.checkbox__icon {
  background-color: var(--hover-color);
  border-color: transparent;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__label {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox__link {
  margin-left: 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--hover-color);
}

.form__button {
  width: 200px;
  height: 50px;
  margin: auto;

  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
}


/* portfolio */

.portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio__filters {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio__button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26/16);
  text-align: center;
  letter-spacing: 0.03em;

  min-height: 38px;
  padding: 6px 22px;
  border-radius: 4px;
}

.portfolio__button:focus,
.portfolio__button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__filters .list__item + .list__item {
  margin-left: 8px;
}

.project{
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-card));
  margin-top: calc(-1 * var(--margin-card));
}

.project-list__item {
  flex-basis: calc(100% / 3- var(--margin-card));
  margin-left: var(--margin-card);
  margin-top: var(--margin-card);
  background: #ffffff;
}

.project-list__item:hover,
.project-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-list__item:hover .project__overlay{
  transform: translateY(0);
}

.project__thumb {
  position: relative;
  overflow: hidden;
  
}

.project__descr {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.project__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 63px 24px;

  transform: translatey(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  font-size: 18px;
  line-height: calc(28/18);
  letter-spacing: 0.03em;
  color: #FFFFFF;
  
  background: rgba(33, 150, 243, 0.9);
}

.project__title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;

  color: var(--title-color);
  margin-bottom: 4px;
}

.project__kind {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
